/* Página Inicial */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-top: 5px;
}

body {
  font-family: "Lora", georgia, serif;
  font-size: 16px;
  background: #116688;
  color: #eeee22;
}

nav {
  margin-right: 10px;
}

.imgLogo {
  margin-left: 10px;
  margin-bottom: 4px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  width: 370px;
  border-color: #eeee22;
  align-items: center;
}

.apres {
  display: block;
  margin-left: 380px;
  font-size: 14px;
}

a {
  color: #ffff22;
  text-decoration: none;
}

a:visited {
  color: #dddd22;
}

.ender {
  display: block;
  margin-left: 400px;
  text-align: center;
}

.link li {
  margin: 0 280px 0 40px;
  cursor: pointer;
  list-style: square;
  font-family: "Rubik", verdana, sans-serif;
  line-height: 200%;
}

#logoCenter{
  margin-left: 310px;
}

/* Página de Memórias */

.listaMemo {
  width: 340px;
  color: #aa0000;
  font-family: "Rubik", verdana, sans-serif;
  background: #eeeeee;
  padding: 10px 10px 10px 50px;
  border: 4px solid #000055;
  margin: 0 auto 10 auto;
}

.título {
  margin-left: 570px;
  color: #eeee22;
  margin-bottom: 20px;
}

.produtos {
  display: block;
  color: #114455;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  list-style: circle;
}

.preco {
  color: #ee0000;
}

/* Página de HDs e SSDs */
.tabDisco {
  border: 1px solid;
  border-collapse: collapse;
  margin: 6px auto 10px auto;
  background-color: #ffffff;
  font-family: "Rubik", Verdana, sans-serif;
  text-align: center;
}

.titulo {
  color: #ffff00;
  background: #229955;
  margin-left: 2px;
  text-align: center;
  font-size: 16px;
  width: 578px;
}

.tabDisco th {
  border: 3px solid #226699;
  padding: 6px 12px;
}

.tabDisco td {
  border: 3px solid #226699;
  padding: 6px 12px;
}

.linTH {
  color: #ffffff;
  background: #2299dd;
  text-align: left;
}

.colTH {
  color: #ffffff;
  background: #22bb66;
  vertical-align: middle;
}

.description {
  color: blue;
}

.price {
  color: #ee0000;
}

/* Página de Cadastro */
.FormBox {
  width: 520px;
  background: #33bbbb;
  padding: 6px;
  font-size: 16px;
  margin-top: 10px;
  border: 3px solid #eeee22;
}

legend {
  margin-left: 10px;
}

fieldset {
  padding: 5px;
  border-color: #ffffff;
  margin-bottom: 5px;
}

#parag {
  text-align: center;
  margin-bottom: 25px;
}

/* Fieldset de identificação */
input,
textarea {
  border-radius: 2px;
  border: none;
}

.FSLinhaInteira {
  color: white;
  padding-left: 15px;
  padding-bottom: 15px;
}

.stLabel {
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}

#email input {
  width: 390px;
  margin-left: 30px;
  margin-bottom: 8px;
}

#password input {
  width: 80px;
  margin-left: 35px;
}

#confirm {
  margin-left: 140px;
}

#confirm input {
  width: 80px;
  margin-left: 10px;
}

/* Fieldset de dados pessoais */
#nome input {
  width: 390px;
  margin-left: 30px;
  margin-bottom: 8px;
}

#endereco {
  display: flex;
}

#endereco textarea {
  width: 390px;
  margin-left: 10px;
  margin-bottom: 8px;
}

#telefone input {
  width: 80px;
  margin-left: 12px;
}

#celular {
  margin-left: 157px;
}

#celular input {
  width: 80px;
  margin-left: 10px;
}

/* Fieldset de nascimento */
#fieldNasc {
  display: inline;
  width: 205px;
}

#nasc {
  width: 45px;
  margin: 0 5px;
}

/* Fieldset de sexo */
#fieldSexo {
  display: inline;
  width: 205px;
  padding-left: 15px;
  margin-left: 60px;
}

#sexo {
  background: red;
  /* color: red;
    font-style: red;
    border-color: red;  */
}

/* Botões */
#buttons {
  display: block;
  text-align: end;
  margin: 20px 10px 0px 10px;
}

#sub {
  font-size: 16px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
}

#limpar {
  font-size: 16px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
}


/* Página de Compras */

#title{
  text-align: center;
  margin-bottom: 25px;
}

#mail input{
  width: 150px;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 8px;
  margin-top: 10px;
}

#name input{
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 8px;
}

#textArea{
  width: 460px;
  margin-left: 5px;
  margin-top: 30px;
}

#select select{
  display: flex;
  width: 180px;
  margin: -15px 0px 10px 90px;
}

#bold{
  font-weight: bold;
}

#value{
  margin-left: 320px;
}

#value input{
  width: 80px;
  height: 25px;
  margin-top: 15px;
  border-radius: 5px;
}

#number input{
  display: inline;
  width: 35px;
  margin-bottom: 10px;
}

#validade{
  margin-top: 5px;
  display: block;
}

#validade input{
  display: inline;
  margin-right: 5px;
}

#mês{
  width: 35px;
}

#ano{
  width: 50px;
}

#parcelas input{
  width: 35px;
  margin-top: 15px;
}

#bandeira{
  display: block;
  width: 30px;
  height: 80px;
  margin-left: 350px;
  margin-top: -65px;

}

#bandeira input{
  display: inline;
  margin-right: 3px;
}

#incluir{
  font-size: 16px;
  width: 75px;
  height: 30px;
  margin-left: 157px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
}

